<h1>Diş Sağlığı Tahmin Sonuçlarınız</h1>
<p>Tahmin sonuçlarınız aşağıdaki gibidir:</p>
<ul>
  <li>Çürük: {{caries}}</li>
  <li>Diş Eti İltihabı (Gingivitis): {{gingivitis}}</li>
  <li>Ülser: {{ulcer}}</li>
</ul>
