<!DOCTYPE html>
<html>
<head>
  <title>Destek Talebiniz Alınmıştır</title>
</head>
<body>
  <p>Merhaba,</p>
  <p>Destek talebiniz alınmıştır. En kısa sürede size geri dönüş yapacağız.</p>
  <p>İyi günler dileriz,</p>
</body>
</html>
